<apex:page standardController="UBMU__SelectValue__c" extensions="UBMU.SelectValueEditController">
    <apex:form >
        <apex:pageBlock mode="edit" title="View Columns Edit">
         <apex:pageBlockButtons >
            <apex:commandButton value="Save" action="{!save}"/>
            <apex:commandButton value="Cancel" action="{!cancel}" rendered="{!UBMU__SelectValue__c.id == null}"/>
            <apex:commandButton value="Return to MassUpdate" action="{!ReturnToUpdate}" rendered="{!UBMU__SelectValue__c.id !=null}"/>
         </apex:pageBlockButtons>
         <apex:messages />
         <apex:pageBlockSection columns="1">
            <apex:inputField value="{!UBMU__SelectValue__c.name}" required="true"/>
            <apex:pageBlockSectionItem helpText="Choose the name of the field you wish to display.">
                <apex:outputLabel value="Field Name" for="field_name"/>
                <apex:selectList required="true" value="{!fieldName}" size="1" id="sobj_type">
                    <apex:selectOptions value="{!queryableFields}"/>
                </apex:selectList>
            </apex:pageBlockSectionItem>
            <apex:pageBlockSectionItem >
                <apex:outputLabel value="MassUpdate Configuration"/>
                <apex:outputText value="{!configurationName}"/>
            </apex:pageBlockSectionItem>
         </apex:pageBlockSection>
        </apex:pageBlock>
    </apex:form>
</apex:page>