<apex:page controller="rh2.PS_settingManagementController" standardStylesheets="false" sidebar="false" applyBodyTag="false" docType="html-5.0" action="{! numActive }" tabStyle="PS_All_Rollups__tab">
    <html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <head> 
        <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
        <apex:includeScript value="{! URLFOR($Resource.PT_Resources_v1, '/js/modernizr-1.7.min.js') }"/>
        <apex:includeScript value="{! URLFOR($Resource.PT_Resources_v1, '/js/UI_Utilities.js') }" />
        <apex:stylesheet value="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css"/>
        
        <apex:includeScript value="{! URLFOR($Resource.HS_Jquery, 'jquery-1.12.1.min.js')}" />
     
        <apex:includeScript value="//code.jquery.com/ui/1.11.4/jquery-ui.min.js"/>
        <apex:stylesheet value="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"/>
        <apex:stylesheet value="{! URLFOR($Resource.SFStyleSheets, 'SFStyleSheets/assets/styles/salesforce-lightning-design-system-vf.min.css')}" />
    </head> 
    
    <style>
        
        @media screen and (max-width: 1280px){
            .hideFullColumn tr > .hidecol
            {
                display:none;
            }
        }
        
        @media screen and (max-width:1024px){
            .hideFullColumn tr > .hidecol
            {
                display:none;
            }
                .hideFullColumn tr > .hidecol2
            {
                display:none;
            }
            
        }
        
        @media (max-width:768px){
            .showActionColumn
            {
                display:table-cell;
            }
            .hideDropdown
            {
                display:none !important;
            }
        }
        
        @media (min-width:769px){
            .showActionColumn
            {
                display:none;
            }
            .hideDropdown
            {
                display:initial;
            }
        }
        
        #progressbar { height: 10px; margin-left:50px; margin-top: 10px; }

         .customMessage * {
        color: #fff!important
        }
        .customMessage {
            margin-left:auto;
            margin-right:auto;        
            opacity: 1!important;
            border: 0px;
            width:98%;
        }
        .message {
            opacity: .1
        }

        .checkboxSettingContainer {
          padding-top: 10px;
          padding-bottom: 10px;
        }

        .checkboxSettingLabel {
          padding-left: 15px;
        }

        .checkboxSetting {
          width: 18px;
          height: 18px;
          padding: 0;
          margin:0;
          vertical-align: bottom;
          position: relative;
          top: -4px;
          *overflow: hidden;
        }

    </style>
     
   
    <script>
        sessionStorage.setItem('rootPage','settings');

        //Verify namespace is ready
        var rh = rh || {};
        rh.j$ = jQuery.noConflict();
        
        var val = {!count};
        val == 3 ? val = 100 : val *= 33;
        
        rh.j$(function() {
            rh.j$( "#progressbar" ).progressbar({
                value: val
            });       
        });

        rh.j$(document).ready(function(){
            overridePageMessages();
        });
            
        function overridePageMessages(){          
                         
          rh.j$('.errorM3').addClass('slds-box slds-box--x-small slds-theme--error slds-text-body--regular customMessage ');                  
          rh.j$('.warningM3').addClass('slds-box slds-box--x-small slds-theme--warning slds-text-body--regular customMessage ');          
          rh.j$('.confirmM3').addClass('slds-box slds-box--x-small slds-theme--success slds-text-body--regular customMessage ');
          rh.j$('.infoM3').addClass('slds-box slds-box--x-small slds-theme--info slds-text-body--regular customMessage ');        
                         
          rh.j$('.errorM3').removeClass('errorM3'); 
          rh.j$('.confirmM3').removeClass('confirmM3'); 
          rh.j$('.infoM3').removeClass('infoM3');   
          rh.j$('.warningM3').removeClass('warningM3');  

        }
    
        
        if(val == 100) {
            var css = '.ui-widget-header { background: red; }',
                head = document.getElementsByTagName('head')[0],
                style = document.createElement('style');
        
            style.type = 'text/css';
            if (style.styleSheet){
              style.styleSheet.cssText = css;
            } else {
              style.appendChild(document.createTextNode(css));
            }
            
            head.appendChild(style);
        }
        
        var prevValue;

        function showCouponCodeModal(){
           document.getElementById('nfpDiscount').style.display = 'block';
        }

        function closeCouponCodeModal(errors){
          if(!errors){
             document.getElementById('nfpDiscount').style.display = 'none';
          }
        }

        function checkForEditsAndConfirmActive(conditional, targetField){
          
          if(rh.j$("[id$=saveInlineEditBtn]").is(':visible')){
              if(!confirm('There are inline edits in progress.  Would you like to proceed without saving?'))
                  return false;
          }
          if (!confirmActive(conditional, targetField, {!count}, {!notpaid}))
            return false;
        }

        function populateSettingModalOptions() {
            rh.j$( '[id$=recordScopeInput]' ).val({!rhSettings.recordScope});
            rh.j$( '[id$=maxQueueableInput]' ).val({!rhSettings.maxQueueable});
            rh.j$( '[id$=maxBatchInput]' ).val({!rhSettings.maxBatch});
            rh.j$( '[id$=maxFutureInput]' ).val({!rhSettings.maxFuture});
            if (rh.j$( '[id$=enableValidationRuleHelperInput]' ).is(':checked') !== {!rhSettings.enableValidationRuleHelper}) {
                rh.j$( '[id$=enableValidationRuleHelperInput]' ).click();
            }
            rh.j$( '[id$=emailToSendExceptionsInput]' ).val('{!rhSettings.emailToSendExceptions}');
            if (rh.j$( '[id$=enableSingleParentProcessingInput]' ).is(':checked') !== {!rhSettings.enableSingleParentProcessing}) {
                rh.j$( '[id$=enableSingleParentProcessingInput]' ).click()
            }
            if (rh.j$( '[id$=rollupInactiveUponCreationInput]' ).is(':checked') !== {!rhSettings.rollupInactiveUponCreation}) {
                rh.j$( '[id$=rollupInactiveUponCreationInput]' ).click()
            }
            rh.j$( '[id$=usageOfLimitsInput]' ).val({!rhSettings.usageOfLimits});
            if (rh.j$( '[id$=processQueueItemsBasedOnModifiedByInput]' ).is(':checked') !== {!rhSettings.processQueueItemsBasedOnModifiedBy}) {
                rh.j$( '[id$=processQueueItemsBasedOnModifiedByInput]' ).click()
            }
            rh.j$( '[id$=dataLoadBatchSizeInput]' ).val({!rhSettings.dataLoadBatchSize});
            rh.j$( '[id$=rerenderErrorButton]' ).click();
        }

    </script>

    <apex:form >
          <apex:actionFunction action="{!toggleActiveRollups}" name="activate" /> 
    </apex:form>
            
    <apex:form id="theForm">
        <div class="slds slds-p-around--xx-large slds-container--large slds-container--center" id="sldsWrapper" role="main"> 
        
        <apex:outputPanel rendered="{! !customSettingsExist }">
        <div class="slds-card slds-card--empty">
          <header class="slds-card__header slds-grid">
            <div class="slds-media slds-media--center slds-has-flexi-truncate">
              <div class="slds-media__body">
                <span>
                  <h2 class="slds-text-heading--medium slds-truncate" style="padding-right: 6px;">All Rollups</h2>
                </span>
              </div>
            </div>
            <a href="javascript:void(0);" class="slds-button slds-button--icon-border-filled slds-button--icon-small" onClick="showSettingsModal();">
              <img width="60%" height="60%" src="{! URLFOR($Resource.SFStyleSheets, 'SFStyleSheets/assets/icons/utility/settings_60.png')}"/>
              <span class="slds-assistive-text">Settings</span>
            </a>
          </header>
          <section class="slds-card__body">
              <h3 class="slds-text-heading--small slds-p-top--large slds-p-bottom--large">No rollup settings exist yet.</h3>
              <button type="button" onclick="window.open('{!URLFOR($Page.rh2__PS_SelectMaster)}', '_self')"
                      class="slds-button slds-button--neutral slds-button--small slds-m-bottom--x-large">Create Rollup</button>  
          </section>
        </div>
    </apex:outputPanel> 
        
    <apex:outputPanel rendered="{! customSettingsExist }" id="settingsExistWrapper">
        <div class="slds-card">
        <header class="slds-card__header slds-grid">
        <div class="slds-media slds-media--center slds-has-flexi-truncate">
          <div class="slds-media__body">
            <span>
              <h2 class="slds-text-heading--medium slds-truncate" style="padding-right: 6px;">All Rollups</h2>
            </span>
          </div>
        </div>
        <div class="slds-no-flex">
        <apex:commandButton action="{!saveInlineEdits}" value="Save Changes" id="saveInlineEditBtn" styleClass="slds-button slds-button--brand" style="display:none;"/>
        <apex:outputPanel rendered="{! notPaid }">
          <button  type="button" onClick="window.open('http://www.passagetechnology.com/rollup-helper-order');" class="slds-button slds-button--brand">
            Upgrade Rollup Helper</button>
          <apex:outputPanel rendered="{!nfpController.isNonprofit}">
            <button type="button" class="slds-button slds-button--brand" onclick="showCouponCodeModal();">
              Get Nonprofit Coupon Code 
            </button>
          </apex:outputPanel>
        </apex:outputPanel>
                <apex:outputLink value="{!URLFOR($Page.rh2__PS_SelectMaster)}" styleClass="slds-button slds-button--neutral" rendered="{!NOT(showMilestoneMessage)}">
                    New
                </apex:outputLink>  
                <apex:outputLink value="{!URLFOR($Page.rh2__PS_healthCheck)}" styleClass="slds-button slds-button--neutral">Health Check</apex:outputLink>  
                  
                <a href="javascript:void(0);" class="slds-button slds-button--icon-border-filled slds-button--icon-small" onClick="showSettingsModal();">
                  <img width="60%" height="60%" src="{! URLFOR($Resource.SFStyleSheets, 'SFStyleSheets/assets/icons/utility/settings_60.png')}"/>
                  <span class="slds-assistive-text">Settings</span>
                </a>
            </div>
          </header>
          <section class="slds-card__body">
            <apex:pageMessages escape="false"/>
              <apex:outputPanel rendered="{!showMilestoneMessage}">
                  <div class="slds-box slds-theme--info slds-theme--alert-texture" style="width:98%; margin-left:auto; margin-right:auto;">
                      You have activated {! count } rollups.
                      Need more? Please
                      <a href="http://www.passagetechnology.com/rollup-helper-order" target="new">upgrade</a>!
                      Like Rollup Helper?
                      <a href="https://appexchange.salesforce.com/listingDetail?listingId=a0N30000009i3UpEAI&tab=r" target="new">
                      Give us a review.
                      </a>
                  </div>
              </apex:outputPanel>
              <br/>
            <table class="slds-table slds-table--bordered slds-max-medium-table--stacked hideFullColumn" id="allRollups">
              <thead>
                <tr style="width:100%;">
                  <th class="slds-text-heading--label hidecol" scope="col">
                     <span style="width:10%; word-wrap:break-word; white-space:normal !important;"> <apex:commandLink value="Label" action="{! doSettingSort }" > 
                          <apex:param name="sortField" value="rollupLabel__c" assignTo="{!sortField}"/> 
                          <apex:outputText value="{!IF(sortField=='rollupLabel__c', IF(sortDirection=='asc', ' ▲', ' ▼'),'')}"/> 
                      </apex:commandLink> </span>
                  </th>  
                  <th></th>
                  <th class="slds-text-heading--label showActionColumn"  scope="col">Action</th> 
                  <th class="slds-text-heading--label" style="width:5%;" scope="col">Run Mode</th>
                  <th class="slds-text-heading--label slds-cell-wrap hidecol" scope="col">
                     <span style="width:10%;"><apex:commandLink value="Relationship Field" action="{! doSettingSort }" > 
                        <apex:param name="sortField" value="relationshipField__c" assignTo="{!sortField}"/> 
                        <apex:outputText value="{!IF(sortField=='relationshipField__c', IF(sortDirection=='asc', ' ▲', ' ▼'),'')}"/> 
                     </apex:commandLink> </span>
                  </th>
                  <th class="slds-text-heading--label" scope="col">
                     <span style="width:10%; "><apex:commandLink value="Source Field" action="{! doSettingSort }" > 
                        <apex:param name="sortField" value="sourceField__c" assignTo="{!sortField}"/> 
                        <apex:outputText value="{!IF(sortField=='sourceField__c', IF(sortDirection=='asc', ' ▲', ' ▼'),'')}"/> 
                     </apex:commandLink> </span>
                  </th>
                  <th class="slds-text-heading--label hidecol2" style="width:5%;" scope="col">
                     <apex:commandLink value="Logic" action="{! doSettingSort }" > 
                        <apex:param name="sortField" value="Logic__c" assignTo="{!sortField}"/> 
                        <apex:outputText value="{!IF(sortField=='Logic__c', IF(sortDirection=='asc', ' ▲', ' ▼'),'')}"/> 
                     </apex:commandLink> 
                  </th>
                  <th class="slds-text-heading--label hidecol2" scope="col">
                     <span style="width:10%;  "><apex:commandLink value="Condition" action="{! doSettingSort }" > 
                        <apex:param name="sortField" value="relationshipName__c" assignTo="{!sortField}"/> 
                        <apex:outputText value="{!IF(sortField=='relationshipName__c', IF(sortDirection=='asc', ' ▲', ' ▼'),'')}"/> 
                     </apex:commandLink> </span>
                  </th>
                  <th class="slds-text-heading--label" scope="col">
                     <span style="width:15%; "><apex:commandLink value="Target Field" action="{! doSettingSort }" > 
                        <apex:param name="sortField" value="targetField__c" assignTo="{!sortField}"/> 
                        <apex:outputText value="{!IF(sortField=='targetField__c', IF(sortDirection=='asc', ' ▲', ' ▼'),'')}"/> 
                     </apex:commandLink> </span>
                  </th>
                  <th class="slds-text-heading--label hidecol" scope="col">
                     <span style="width:15%;"><apex:commandLink value="Description" action="{! doSettingSort }" > 
                        <apex:param name="sortField" value="description__c" assignTo="{!sortField}"/> 
                        <apex:outputText value="{!IF(sortField=='description__c', IF(sortDirection=='asc', ' ▲', ' ▼'),'')}"/> 
                     </apex:commandLink></span> 
                  </th>
                  <th></th>
                  <th class="slds-text-heading--label" style="width:5%;">
                    <span title="Select All">
                    <apex:commandLink onclick="(function() {if(confirm('Are you sure you want to change the active status for all rollups?')){selectAllCheckboxes(this,'activeCheckbox'); activate();} })()" rerender="activeColumn">
                           <apex:inputCheckbox value="{!allActiveCheck}" id="select-all"/>
                            <span class="slds-checkbox--faux"></span>
                            <span class="slds-form-element__label slds-assistive-text">select all</span>
                    </apex:commandLink>
                    </span>
                    &nbsp; Active
                    </th>   
                    <th class="slds-text-heading--label" style="width:5%;">ACTION</th>
                </tr>
              </thead>
              <tbody> 
               <apex:repeat value="{!customSettings}" var="item">
                            <tr id="itemRow{!item}"> 
                                <td style="word-break:break-all; padding-right:0px !important;" data-label="Rollup Label" class="slds-cell-wrap hidecol">
                                    
                                   <apex:outputField value="{! item.rollupLabel__c }" id="labelEditField">
                                      <apex:inlineEditSupport showOnEdit="saveInlineEditBtn" event="ondblclick"/>
                                   </apex:outputField>                                   

                                </td>
                                <td><i class="fa fa-pencil" style="color:#d9d9db; padding-left:0px !important;"></i></td>
                        
                                <td data-label="Action" class="showActionColumn">
                                    <apex:outputPanel rendered="{!IF(item.rh2__conditional__c, true, false)}">                        
                                      <apex:commandLink action="{!goToRollupRun}" rendered="{!isBlank(item.rh2__targetFieldName__c)}" styleClass="slds-truncate">
                                          <apex:param name="s" value="{!item.name}"/>
                                          <apex:outputText value="Run"/>
                                      </apex:commandLink>        
             
                                      <apex:commandLink action="{!goToRollupRun}" rendered="{!not(isBlank(item.rh2__targetFieldName__c))}" styleClass="slds-truncate">
                                          <apex:param name="id" value="{!item.rh2__targetFieldName__c}"/>
                                          <apex:outputText value="Run"/>
                                      </apex:commandLink>                                                
                                    </apex:outputPanel>                                                 
                                                
                                    <apex:outputPanel rendered="{!IF(item.rh2__conditional__c, true, false)}" > 
                                      <apex:commandLink action="{!goToRollupSchedule}" rendered="{!isBlank(item.rh2__targetFieldName__c)}" styleClass="slds-truncate">
                                          <apex:param name="s" value="{!item.name}"/>
                                          <apex:outputText value="Schedule"/>
                                          
                                      </apex:commandLink>
                                      <apex:commandLink action="{!goToRollupSchedule}" rendered="{!not(isBlank(item.rh2__targetFieldName__c))}" styleClass="slds-truncate">
                                          <apex:param name="id" value="{!item.rh2__targetFieldName__c}"/>
                                          <apex:outputText value="Schedule"/>
                                      </apex:commandLink>              
                                    </apex:outputPanel>
                                    
                                    <apex:commandLink action="{!goToRollupEdit}" styleClass="slds-truncate">
                                      <apex:param name="s" value="{!item.Name}"/>
                                      Edit
                                    </apex:commandLink>
                                        
                                    <apex:commandLink value="Del" reRender="setting_values, master_block, running_user, displayNum, menu" action="{! delCustomSetting }" styleClass="slds-button slds-button--xsmall slds-button--neutral">
                                        <apex:param name="settingId" value="{! item.Name }"/>
                                    </apex:commandLink>
                            
                                </td>
                                <td data-label="Run Time" class="slds-cell-shrink slds-truncate  slds-text-align--center" style="width:5%;">
                                    <apex:outputPanel rendered="{!item.rh2__isRealTime__c}">
                                        <span title="Real Time"><i class="fa fa-bolt"></i></span>
                                    </apex:outputPanel>
                                    <apex:outputPanel rendered="{!AND(item.rh2__conditional__c, item.rh2__targetFieldLength__c == 1)}">
                                        <span title="{!item.rh2__Schedule_Run_Info__c}">
                                            <apex:commandLink action="{!goToRollupSchedule}" rendered="{!isBlank(item.rh2__targetFieldName__c)}" styleClass="slds-truncate">
                                                <apex:param name="s" value="{!item.name}"/>
                                                <i class="fa fa-calendar"></i>
                                            </apex:commandLink>
                                            <apex:commandLink action="{!goToRollupSchedule}" rendered="{!not(isBlank(item.rh2__targetFieldName__c))}" styleClass="slds-truncate">
                                                <apex:param name="id" value="{!item.rh2__targetFieldName__c}"/>
                                                <i class="fa fa-calendar"></i>
                                            </apex:commandLink>
                                        </span>
                                    </apex:outputPanel>
                                    <apex:outputPanel rendered="{!AND(!item.rh2__isRealTime__c, item.rh2__targetFieldLength__c != 1, item.rh2__conditional__c)}">
                                        <span title="Manual Run Only">
                                          <apex:commandLink action="{!goToRollupRun}" rendered="{!isBlank(item.rh2__targetFieldName__c)}" styleClass="slds-truncate">
                                              <apex:param name="s" value="{!item.name}"/>
                                              <i class="fa fa-info-circle"></i>
                                          </apex:commandLink> 
                                          <apex:commandLink action="{!goToRollupRun}" rendered="{!not(isBlank(item.rh2__targetFieldName__c))}" styleClass="slds-truncate">
                                              <apex:param name="id" value="{!item.rh2__targetFieldName__c}"/>
                                              <i class="fa fa-info-circle"></i>
                                          </apex:commandLink>
                                        </span>
                                    </apex:outputPanel>
                                    <apex:outputPanel rendered="{! !item.conditional__c }">
                                        <span title="Inactive"><i class="fa fa-exclamation-triangle"></i></span>
                                    </apex:outputPanel>
                                </td>
                                <td class="slds-cell-wrap hidecol" style="word-break:break-all;" data-label="Relationship Field">{! item.relationshipField__c }</td>
                                <td class="slds-cell-wrap" style="word-break:break-all;" data-label="Source Field">{!item.rh2__SourceFieldObject__c} &gt; {! item.sourceField__c }</td>
                                <td class="hidecol2" data-label="Logic" style="width:5%;">{! item.logic__c }</td>
                                <td class="slds-cell-wrap hidecol2" data-label="Condition">
                                  <apex:commandLink action="{!goToFilterEdit}">
                                    <apex:param name="f" value="{!item.rh2__condition__c}"/>
                                    {! item.relationshipName__c }
                                  </apex:commandLink></td>
                                <td class="slds-cell-wrap" style="word-break:break-all;" data-label="Target Field"> {! item.targetField__c }</td>
                                <td class="hidecol slds-cell-wrap" style="word-break:break-all; padding-right:0px !important;" data-label="Description">                                  
                                  <apex:outputField value="{! item.description__c }" style="width:90%">
                                     <apex:inlineEditSupport showOnEdit="saveInlineEditBtn" event="ondblclick"/>
                                  </apex:outputField>                                                             
                                </td>
                                <td><i class="fa fa-pencil" style="color:#d9d9db; padding-left:0px !important;"></i> </td>
                                <td data-label="Active" class="slds-cell-shrink" style="width:5%;">
                                    <apex:commandLink onClick="return checkForEditsAndConfirmActive('{!item.rh2__conditional__c}', '{!item.rh2__targetField__c}');" action="{!setActive}"> 
                                        <apex:inputCheckbox value="{!item.rh2__conditional__c}" id="activeCheckbox"/>
                                        <apex:param name="rollupId" value="{!item.name}"/> 
                                    </apex:commandLink> 
                                </td>
                                    
                                    <td style="width:5%;">
                                    <div class="slds-dropdown-trigger slds-dropdown-trigger--click hideDropdown" id="{!item}">  
                                          <button class="slds-button slds-button--icon-border-filled hideDropdown" type="button" onClick="showOrHideDropdown('{!JSENCODE(item.id)}');">
                                            <i class="fa fa-caret-down"></i>
                                          </button>
                                          <div class="slds-dropdown slds-dropdown--right slds-dropdown--actions slds-dropdown--menu hideDropdown">
                                             <ul id="menu" class="slds-dropdown__list hideDropdown" role="menu">
                         
                                                
                                                <apex:outputPanel rendered="{!IF(item.rh2__conditional__c, true, false)}">
                                                <li class="slds-dropdown__item ">
                        
                                                <apex:commandLink action="{!goToRollupRun}" rendered="{!isBlank(item.rh2__targetFieldName__c)}" styleClass="slds-truncate">
                                                    <apex:param name="s" value="{!item.name}"/>
                                                    <apex:outputText value="Run"/>
                                                </apex:commandLink>        
                       
                                                <apex:commandLink action="{!goToRollupRun}" rendered="{!not(isBlank(item.rh2__targetFieldName__c))}" styleClass="slds-truncate">
                                                    <apex:param name="id" value="{!item.rh2__targetFieldName__c}"/>
                                                    <apex:outputText value="Run"/>
                                                </apex:commandLink>
                                                </li>
                                                </apex:outputPanel> 
                                                                                             
                                                <apex:outputPanel rendered="{!IF(item.rh2__conditional__c, true, false)}" > 
                                                <li class="slds-dropdown__item">
                                                <apex:commandLink action="{!goToRollupSchedule}" rendered="{!isBlank(item.rh2__targetFieldName__c)}" styleClass="slds-truncate">
                                                    <apex:param name="s" value="{!item.name}"/>
                                                    <apex:outputText value="Schedule"/>
                                                    
                                                </apex:commandLink>
                                                <apex:commandLink action="{!goToRollupSchedule}" rendered="{!not(isBlank(item.rh2__targetFieldName__c))}" styleClass="slds-truncate">
                                                    <apex:param name="id" value="{!item.rh2__targetFieldName__c}"/>
                                                    <apex:outputText value="Schedule"/>
                                                </apex:commandLink>
                       
                                                </li>
                                                </apex:outputPanel>

                                                <apex:outputPanel rendered="{! !item.isRealTime__c }">
                                                  <li class="slds-dropdown__item">
                                                    <apex:outputLink value="{!URLFOR($Page.rh2__PS_Manage_Trigger)}">
                                                      <apex:param name="mast" value="{!item.rh2__SourceFieldObject__c}"/>
                                                      Enable Realtime
                                                    </apex:outputLink>
                                                  </li>    
                                                </apex:outputPanel>
                                                
                                                
                                                <li class="slds-dropdown__item">
                                                  <apex:commandLink action="{!goToRollupEdit}" styleClass="slds-truncate">
                                                    <apex:param name="s" value="{!item.Name}"/>
                                                    Edit
                                                  </apex:commandLink>
                                                </li>
                                                
                                                <li class="slds-dropdown__item">
                                                <apex:commandLink value="Del" reRender="setting_values, master_block, running_user, displayNum, menu" onClick="if(!confirm('Are you sure you want to delete this rollup?')) return false;" action="{! delCustomSetting }" styleClass="slds-truncate">
                                                    <apex:param name="settingId" value="{! item.Name }"/>
                                                </apex:commandLink>
                                                </li>
                                                
                                                                                               
                                            </ul>
                                          </div>
                                    </div>
                                    </td>
                                
                        
                                     
                            </tr>
                        </apex:repeat>
              </tbody>
            </table>
          </section>
          <footer class="slds-card__footer"> 
              <apex:outputText value="Running As {!runningUser}" rendered="{!isBatchActive}"/>
              <apex:outputText value="Open the Settings pane to set the Running User" rendered="{! !isBatchActive }"/>
              <apex:outputText value="{!Count} of {!total} Rollups Active" style="float:right;" />
          </footer>
        </div>
        
    </apex:outputPanel>     

    <apex:param name="rendered" value="{! showMilestoneMessage }" />
    <div id="nfpDiscount" style="display:none">
        <c:NFPDiscountForm pageController="{!nfpController}"/>
    </div>
    <div id="couponCodeBackdrop" class="slds-backdrop"></div>

    <!-- Rollup Helper Settings Modal -->
    <div id='settingsModal' style="display:none">
        <div aria-hidden="false" role="dialog" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container" style="width:760px !important;">
                <div class="slds-modal__header">
                    <span>
                        <h2 class="slds-text-heading--medium">Configure Rollup Settings</h2>
                        <button type="button" onclick='closeSettingsModal();' class="slds-button slds-button__icon-inverse slds-modal__close">
                            <svg aria-hidden="true" class="slds-button__icon slds-button__icon--large">
                                <use xlink:href="{! URLFOR($Resource.SFStyleSheets, 'SFStyleSheets/assets/icons/action-sprite/svg/symbols.svg#close')}"></use>
                            </svg>
                        </button>
                    </span>
                </div>

                <div class="slds-modal__content" style="padding:30px;">
                    <apex:outputPanel id="settingsModalErrorMessage">
                        <apex:outputPanel style="padding: 10px;" styleClass="slds-docked-form-footer" rendered="{!IF(rhSettings.isValidSetting, false, true)}">
                            <p style="background-color: #f3c1c1; padding: 10px; border-radius: 10px;">
                                <apex:outputText value="{!rhSettings.errorMessage}" escape="false" />
                            </p>
                        </apex:outputPanel>
                    </apex:outputPanel>

                    <div class="slds-grid">
                    <div class="slds-col" style="padding-right:15px;">
                        <div class="slds-form-element" title="{!rhSettings.helpText['recordScope']}">
                            <apex:outputLabel styleClass="slds-form-element__label" value="Record Scope" for="recordScopeInput"/>
                            <div class="slds-form-element__control">
                                <apex:inputText id="recordScopeInput" value="{!rhSettings.recordScope}" styleClass="slds-input" maxlength="4" onkeypress="return limitNumberInput(event)" />
                            </div>
                        </div>
                        <div class="slds-form-element" title="{!rhSettings.helpText['emailToSendExceptions']}">
                            <apex:outputLabel styleClass="slds-form-element__label" value="Email To Send Exceptions To" for="emailToSendExceptionsInput"/>
                            <div class="slds-form-element__control">
                                <apex:inputText id="emailToSendExceptionsInput" value="{!rhSettings.emailToSendExceptions}" styleClass="slds-input" maxlength="255" />
                            </div>
                        </div>
                        <div class="slds-form-element checkboxSettingContainer" title="{!rhSettings.helpText['enableValidationRuleHelper']}">
                            <div class="slds-form-element__control">
                                <span>
                                    <apex:inputCheckbox id="enableValidationRuleHelperInput" value="{!rhSettings.enableValidationRuleHelper}" styleClass="checkboxSetting">
                                        <apex:actionSupport event="onchange" reRender="validationRuleInfo" />
                                    </apex:inputCheckbox>
                                    <apex:outputLabel styleClass="slds-form-element__label checkboxSettingLabel" value="Enable Validation Rule Helper" for="enableValidationRuleHelperInput" />
                                </span>
                            </div>
                        </div>
                        <div class="slds-form-element checkboxSettingContainer" title="{!rhSettings.helpText['enableSingleParentProcessing']}">
                            <div class="slds-form-element__control">
                                <span>
                                    <apex:inputCheckbox id="enableSingleParentProcessingInput" value="{!rhSettings.enableSingleParentProcessing}" styleClass="checkboxSetting" />
                                    <apex:outputLabel styleClass="slds-form-element__label checkboxSettingLabel" value="Enable Single Parent Processing" for="enableSingleParentProcessingInput"/>
                                </span>
                            </div>
                        </div>
                        <div class="slds-form-element checkboxSettingContainer" title="{!rhSettings.helpText['rollupInactiveUponCreation']}">
                            <div class="slds-form-element__control">
                                <span>
                                    <apex:inputCheckbox id="rollupInactiveUponCreationInput" value="{!rhSettings.rollupInactiveUponCreation}" styleClass="checkboxSetting" />
                                    <apex:outputLabel styleClass="slds-form-element__label checkboxSettingLabel" value="Rollups Inactive Upon Creation" for="rollupInactiveUponCreationInput"/>
                                </span>
                            </div>
                        </div>
                        <div class="slds-form-element checkboxSettingContainer" title="{!rhSettings.helpText['processQueueItemsBasedOnModifiedBy']}">
                            <div class="slds-form-element__control">
                                <span>
                                    <apex:inputCheckbox id="processQueueItemsBasedOnModifiedByInput" value="{!rhSettings.processQueueItemsBasedOnModifiedBy}" styleClass="checkboxSetting" />
                                    <apex:outputLabel styleClass="slds-form-element__label checkboxSettingLabel" value="Process Queue Items Based on Modified By" for="processQueueItemsBasedOnModifiedByInput"/>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="slds-col" style="padding-left:15px;">
                        <div class="slds-form-element" title="{!rhSettings.helpText['dataLoadBatchSize']}">
                            <apex:outputLabel styleClass="slds-form-element__label" value="Data Load Batch Size" for="dataLoadBatchSizeInput"/>
                            <div class="slds-form-element__control">
                                <apex:inputText id="dataLoadBatchSizeInput" value="{!rhSettings.dataLoadBatchSize}" styleClass="slds-input" maxlength="3" onkeypress="return limitNumberInput(event)" />
                            </div>
                        </div>
                        <div class="slds-form-element" title="{!rhSettings.helpText['maxQueueable']}">
                            <apex:outputLabel styleClass="slds-form-element__label" value="Max Queueable jobs" for="maxQueueableInput"/>
                            <div class="slds-form-element__control">
                                <apex:inputText id="maxQueueableInput" value="{!rhSettings.maxQueueable}" styleClass="slds-input" maxlength="3" onkeypress="return limitNumberInput(event)" />
                            </div>
                        </div>
                        <div class="slds-form-element" title="{!rhSettings.helpText['maxBatch']}">
                            <apex:outputLabel styleClass="slds-form-element__label" value="Max Batch Jobs" for="maxBatchInput"/>
                            <div class="slds-form-element__control">
                                <apex:inputText id="maxBatchInput" value="{!rhSettings.maxBatch}" styleClass="slds-input" maxlength="2" onkeypress="return limitNumberInput(event)" />
                            </div>
                        </div>
                        <div class="slds-form-element" title="{!rhSettings.helpText['maxFuture']}">
                            <apex:outputLabel styleClass="slds-form-element__label" value="Max Future Jobs" for="maxFutureInput"/>
                            <div class="slds-form-element__control">
                                <apex:inputText id="maxFutureInput" value="{!rhSettings.maxFuture}" styleClass="slds-input" maxlength="2" onkeypress="return limitNumberInput(event)" />
                            </div>
                        </div>
                        <div class="slds-form-element" title="{!rhSettings.helpText['usageOfLimits']}">
                            <apex:outputLabel styleClass="slds-form-element__label" value="Dynamic Asynchronous Threshold" for="usageOfLimitsInput"/>
                            <div class="slds-form-element__control">
                                <apex:inputText id="usageOfLimitsInput" value="{!rhSettings.usageOfLimits}" styleClass="slds-input" maxlength="3" onkeypress="return limitNumberInput(event)" />
                            </div>
                        </div>
                    </div>
                    </div>

                    <apex:outputPanel id="validationRuleInfo">
                        <apex:outputPanel style="padding: 10px;" styleClass="slds-docked-form-footer" rendered="{!IF(rhSettings.enableValidationRuleHelper, true, false)}">
                             <p style="background-color: #e9eaf3; padding: 10px; border-radius: 10px;">
                               You have enabled Validation Rule Helper. For each validation rule that you would like Rollup Helper to ignore, please add this code snippet to the end of the contents of the Error Condition Formula section of the validation rule:
                               <br /><br />
                               &amp;&amp; $Setup.rh2__PS_Settings__c.rh2__Run_Validation_Rule__c
                             </p>
                        </apex:outputPanel>
                    </apex:outputPanel>
                </div>

                <div class="slds-modal__footer">
                    <div class="slds-x-small-buttons--horizontal">
                        <apex:commandButton value="Set {!$User.FirstName + ' ' + $User.LastName} As Running User" styleClass="slds-button slds-button--neutral slds-button--small slds-m-bottom--x-small" action="{!newAgent}" rendered="{!NOT(isRunningUserCurrentUser)}" reRender="running_user, table"/>   
                        <apex:commandButton action="{! saveSettings }" reRender="settingsModalErrorMessage" value="Save" styleClass="slds-button slds-button--neutral slds-button--small slds-m-bottom--x-small" />
                        <apex:commandButton action="{! closeSettings }" reRender="none" onclick="closeSettingsModal();" styleClass="slds-button slds-button--neutral slds-button--small slds-m-bottom--x-small" value="Close" />
                        <apex:actionFunction name="rerenderSettingsModal" reRender="settingsModal" />
                        <!-- Hidden button used for javascript -->
                        <apex:commandButton id="rerenderErrorButton" reRender="settingsModalErrorMessage" style="display: none;" />
                    </div>
                </div>
            </div>
        </div>
        <div class="slds-backdrop slds-backdrop--open"></div>
    </div>
       
    </div>  
    
             
    </apex:form>
       <br/> <br/>
   
    <c:PS_additionalInformation ></c:PS_additionalInformation>    
        
    
    </html>
</apex:page>